body {
	background-color: color(primary);
}
.underline {
	position: relative;
	&::after {
		@include absolute(_ 0 0 0, 0);
		@include size(100% 23px);
		content: '';
		background-color: #dfedfc;
		opacity: 0.1;
	}
}
.cta {
	@include margin(_ 24px _ _);
	@include size(200px 50px);
	@include font((
		appearance: bold,
		family: script,
		size: 14px,
	));
	align-items: center;
	border: solid 1px color(border);
	border-radius: rem(8px);
	color: color(link);
	display: flex;
	justify-content: center;
	letter-spacing: 0;
	&:hover {
		background-color: color(button);
		box-shadow: 0 4px 20px 0 rgba(9, 196, 172, 0.5);
		color: color(white);
	}
}