.experiences {
	@include margin(40px _ _ _);
	@include padding(_ 20px 80px 20px);
	@include bp(12) {
		@include margin(0 _ _ _);
		@include padding(_ 0 80px 0);
	}
	.h {
		@include margin(_ _ 16px _);
		@include font((
			appearance: bold,
			family: script,
			size: (
				0: 30px 44px,
				7: 40px 60px
			),
		));
		color: color(bold);
		letter-spacing: 0;
	}
	p {
		@include font((
			appearance: regular,
			family: script,
			size: 16px 36px,
		));
		color: color(regular);
		letter-spacing: 0;
	}
	.wrapper {
		@include margin(22px _ _ _);
		align-items: center;
		display: grid;
		gap: rem(20px);
		grid-template-columns: 1fr;
		@include bp(10) {
			@include margin(100px _ _ _);
			gap: 10%;
			grid-template-columns: 1fr 1fr;
		}
		.exp-img {
			order: 2;
			@include bp(10) {
				order: 1;
			}
			img {
				@include max-size(100% _);
			}
		}
		.skills {
			order: 1;
			display: grid;
			gap: rem(20px);
			grid-template-columns: 1fr;
			@include bp(10) {
				order: 2;
			}
			.skill {
				@include padding(20px 0);
				align-items: center;
				background-color: none;
				border-radius: rem(14px);
				box-shadow: 0 6px 12px 0 rgba(39, 29, 121, 0.25);
				display: grid;
				grid-template-columns: auto 1fr;
				gap: rem(25px);
				@include bp(7) {
					@include padding(20px 34px);
					background-color: color(skills);
				}
				p {
					@include font((
						appearance: regular,
						family: script,
						size: 16px 28px,
					));
					color: color(white);
					letter-spacing: 0;
				}
				span {
					@include font((
						appearance: regular,
						family: script,
						size: 14px,
					));
					color: color(regular);
					letter-spacing: 0;
				}
			}
		}
		.question {
			.h {
				@include margin(_ _ 28px _);
				@include font((
					appearance: regular,
					family: script,
					size: 30px 46px,
				));
				color: color(regular);
				letter-spacing: 0;
			}
		}
		.other {
			.certs,
			.languages {
				display: grid;
				grid-template-columns: 1fr;
				@include bp(6) {
					grid-template-columns: rem(200px) auto;
				}
				.h {
					@include font((
						appearance: bold,
						family: script,
						size: 26px,
					));
					color: color(white);
					letter-spacing: 0;
				}
			}
			.certs {
				ul {
					li {
						@include margin(_ _ 30px _);
						p {
							@include font((
								appearance: regular,
								family: script,
								size: 16px 28px,
							));
							color: color(white);
							letter-spacing: 0;
						}
						span {
							@include font((
								appearance: regular,
								family: script,
								size: 14px,
							));
							color: color(regular);
							a {
								color: color(link);
							}
						}
					}
				}
			}
			.languages {
				p {
					@include font((
						appearance: regular,
						family: script,
						size: 16px 36px,
					));
					color: color(white);
					letter-spacing: 0;
					span {
						color: color(regular);
					}
				}
			}
		}
	}
}