.site-header {
	@include size(100% 90px);
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	.contact {
		align-items: flex-end;
		display: flex;
		.h {
			@include font((
				appearance: regular,
				family: script,
				size: 14px,
			));
			color: color(regular);
			display: none;
			letter-spacing: 0;
			position: relative;
			@include bp(7) {
				display: block;
			}
			&::before {
				@include absolute(12px _ _ -330px);
				@include size (300px 1px);
				background-color: color(link);
				content: '';
				display: none;
				@include bp(11) {
					display: block;
				}
			}
			a {
				@include font((
					appearance: bold,
					family: script,
				));
				color: color(link);
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.icons {
			@include margin(_ _ _ 44px);
			display: grid;
			grid-gap: rem(20px);
			grid-template-columns: repeat(4, 1fr);
			.icon {
				img {
					@include size(18px);
					transition: all speed(fast) timing(default);
				}
			}
		}
	}
}