.site-header {
	@include size(100% 90px);
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	.contact {
		align-items: flex-end;
		display: flex;
		.h {
			@include font((
				appearance: regular,
				family: script,
				size: 14px,
			));
			color: color(regular);
			letter-spacing: 0;
			position: relative;
			&::before {
				@include absolute(12px _ _ -330px);
				@include size (300px 1px);
				background-color: color(link);
				content: '';
			}
			a {
				@include font((
					appearance: bold,
					family: script,
				));
				color: color(link);
				&:focus,
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.icons {
			@include margin(_ _ _ 44px);
			display: grid;
			grid-gap: rem(20px);
			grid-template-columns: repeat(4, 1fr);
			.icon {
				svg {
					@include size(17px 14px);
					fill: color(svg);
					transition: all speed(fast) timing(default);
				}
				&:focus,
				&:hover {
					svg {
						fill: color(white);
					}
				}
			}
		}
	}
}