.hero {
	@include min-size(_ 100vh);
	@include padding(100px 20px _);
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	@include bp(12) {
		grid-template-columns: 1fr 1fr;
		@include padding(_ 0);
	}
	&::before {
		@include absolute(160px _ _ 50%, -1);
		@include size(100vw 100%);
		background-image: url('../assets/img/bgr-elements.svg');
		background-position: center top;
		background-repeat: no-repeat;
		content: '';
		display: block;
		transform: translateX(-50%);
		@include bp(12) {
			@include absolute(-100px _ _ 50%, -1);
		}
	}
	&__text {
		.h1 {
			@include margin(_ _ 26px _);
			@include font((
				appearance: extra-bold,
				family: script,
				size: 36px 54px,
			));
			color: color(bold);
			letter-spacing: 0;
			@include bp(4) {
				@include font((
					size: 40px 60px,
				));
			}
		}
		.h2 {
			@include font((
				appearance: regular,
				family: script,
				size: 16px 34px,
			));
			color: color(regular);
			letter-spacing: 0;
		}
	}
	&__image {
		position: relative;
		img {
			@include margin(48px auto _);
			@include size(100% _);
			position: relative;
			@include bp(12) {
				@include absolute(180px -80px _ _);
				@include size(810px _);
			}
		}
	}
	.ctas {
		@include margin(60px _ _ _);
		display: flex;
		flex-direction: row;
	}
}