{% extends '../layouts/default.twig' %}
{% set head_title = 'AgileDev s.r.o.' %}
{% set body_class = '' %}
{% block page %}
<div class="pagewrapper">
	{% include '../components/header.html' %}
	{% include '../components/main.html' %}
	{% include '../components/footer.html' %}
</div>
{% endblock %}
