/* latin-ext */
@font-face {
	font-family: 'BeVietnam';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Be Vietnam Regular'), local('BeVietnam-Regular'), url(https://fonts.gstatic.com/s/bevietnam/v1/FBVzdDflz-iPfoPuIC2iIqgn6H9k.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'BeVietnam';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Be Vietnam Regular'), local('BeVietnam-Regular'), url(https://fonts.gstatic.com/s/bevietnam/v1/FBVzdDflz-iPfoPuIC2iIqYn6A.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'BeVietnam';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Be Vietnam Bold'), local('BeVietnam-Bold'), url(https://fonts.gstatic.com/s/bevietnam/v1/FBVwdDflz-iPfoPuIC2iKh0C_U5FJl4q.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'BeVietnam';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Be Vietnam Bold'), local('BeVietnam-Bold'), url(https://fonts.gstatic.com/s/bevietnam/v1/FBVwdDflz-iPfoPuIC2iKh0C_UBFJg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'BeVietnam';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: local('Be Vietnam ExtraBold'), local('BeVietnam-ExtraBold'), url(https://fonts.gstatic.com/s/bevietnam/v1/FBVwdDflz-iPfoPuIC2iKgEB_U5FJl4q.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'BeVietnam';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: local('Be Vietnam ExtraBold'), local('BeVietnam-ExtraBold'), url(https://fonts.gstatic.com/s/bevietnam/v1/FBVwdDflz-iPfoPuIC2iKgEB_UBFJg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}