<footer class="site-footer" id="contact">
	<h2 class="heading">Dohodnime si stretnutie</h2>
	<div class="items">
		<div class="item">
			<ul>
				<li>AgileDev s. r. o. (Mgr. Attila Bódis)</li>
				<li>Nám. SNP 198/50, Dunajská Streda 929 01</li>
				<li>IČO 52 622 037</li>
			</ul>
			<span class="social">
				<a href="#" class="icon icon--facebook">
					<img src="assets/img/facebook.svg" alt="facebook">
				</a>
				<a href="#" class="icon icon--linkedin">
					<img src="assets/img/linkedin.svg" alt="linkedin">
				</a>
			</span>
		</div>
		<div class="item">
			<span>Telefón</span>
			<encode-value class="phone" data-phone="KCs0MjEpIDkwNCA4NTIgMjU4"></encode-value>
		</div>
		<div class="item">
			<span>Email</span>
			<encode-value class="email" data-email="aW5mb0BhZ2lsZWRldi5zaw=="></encode-value>
		</div>
	</div>
</footer>