<header class="site-header">
	<a href="/"><img src="assets/img/logo.svg" alt="agiledev logo"></a>
	<div class="contact">
		<h2 class="h">Poďme spolu spraviť úžasný projekt.
			<encode-email data-email="aW5mb0BhZ2lsZWRldi5zaw==" data-text="Kontaktujte ma"></encode-email>
		</h2>
		<div class="icons">
			<a href="#contact" class="icon" data-scroll>
				<img src="assets/img/mail.svg" alt="email">
			</a>
			<a href="#" class="icon">
				<img src="assets/img/facebook.svg" alt="facebook">
			</a>
			<a href="#" class="icon">
				<img src="assets/img/linkedin.svg" alt="linkedin">
			</a>
		</div>
	</div>
</header>