<main>
	<section class="hero">
		<div class="hero__text">
			<h1 class="h1"><span class="underline">Vývoj bankových</span> a platobných backend aplikácii v JAVE</h1>
			<h2 class="h2">Skušenosti se týkají zejména vývoje Javy, konkrétně backendu pro různé druhy platebních
				systémů, systému správy informací, webových služeb, mikropodniků nebo jiných nástrojů Java, technologií
				Front-End end web a údržbu a sledovanie serverových aplikácií.</h2>
			<div class="ctas">
				<a href="#experiences" class="cta cta--exp">Moje skúsenosti</a>
				<a href="#contact" class="cta cta--contact">Kontaktuje ma</a>
			</div>
		</div>
		<div class="hero__image">
			<img src="assets/img/hero.png" alt="hero image">
		</div>
	</section>
</main>